alembic==1.6.5
appdirs==1.4.4
astroid==2.4.2
async-generator==1.10
attrs==20.3.0
Authlib==0.15.4
awscli==1.19.105
black==21.6b0
blinker==1.4
botocore==1.20.105
cachelib==0.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.3
coverage==5.4
cryptography==36.0.1
cycler==0.11.0
distlib==0.3.1
dnspython==2.1.0
docutils==0.15.2
email-validator==1.1.2
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.10
Flask-Migrate==3.0.1
Flask-OAuthlib==0.9.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
fonttools==4.31.2
greenlet==1.1.0
gunicorn==20.1.0
h11==0.12.0
hypothesis==6.1.1
idna==2.10
importlib-metadata==3.4.0
iniconfig==1.1.1
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
kiwisolver==1.4.0
lazy-object-proxy==1.4.3
loginpass==0.5
Mako==1.1.4
MarkupSafe==1.1.1
matplotlib==3.5.1
mccabe==0.6.1
mypy-extensions==0.4.3
mysqlclient==2.0.3
numpy==1.22.3
oauthlib==2.1.0
opencv-contrib-python==4.5.5.64
opencv-python==4.5.5.64
outcome==1.1.0
packaging==20.9
pathspec==0.8.1
Pillow==9.0.1
pluggy==0.13.1
py==1.10.0
pyasn1==0.4.8
pycparser==2.20
pycryptodome==3.14.1
PyJWT==2.0.1
pylint==2.6.0
pylint-venv==2.1.1
PyMySQL==1.0.2
pyOpenSSL==21.0.0
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
python-dotenv==0.18.0
python-editor==1.0.4
PyYAML==5.4.1
regex==2021.7.1
requests==2.25.1
requests-oauthlib==1.1.0
rsa==4.7.2
s3transfer==0.4.2
selenium==4.1.0
six==1.15.0
sniffio==1.2.0
sortedcontainers==2.3.0
SQLAlchemy==1.4.20
toml==0.10.2
trio==0.19.0
trio-websocket==0.9.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.26.3
virtualenv==20.4.2
Werkzeug==1.0.1
wrapt==1.12.1
wsproto==1.0.0
WTForms==2.3.3
zipp==3.4.0
